Repository be15-fin-Nexus-SION/be15-fin-Nexus-SION-BE, pull requests merged in 2025-06, with the labels that each got.

#3 chore: 디스코드 알림 테스트를 위한 리드미 수정
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/notify-reviewers.yml
  README.md
Labels: chore

#16 jooq edit
  target/generated-sources/jooq/com/example/jooq/generated/enums/MemberGradeCode.java
  target/generated-sources/jooq/com/example/jooq/generated/enums/MemberRole.java
  target/generated-sources/jooq/com/example/jooq/generated/enums/MemberStatus.java
  target/generated-sources/jooq/com/example/jooq/generated/tables/Member.java
  target/generated-sources/jooq/com/example/jooq/generated/tables/daos/MemberDao.java
  target/generated-sources/jooq/com/example/jooq/generated/tables/pojos/Member.java
  target/generated-sources/jooq/com/example/jooq/generated/tables/records/MemberRecord.java
Labels: feat

#20 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: chore

#56 [feat] Member도메인 관련 entity class 생성
  src/main/java/com/nexus/sion/feature/member/command/domain/aggregate/Entity_.java
  src/main/java/com/nexus/sion/feature/member/command/domain/aggregate/entity/DeveloperTechStack.java
  src/main/java/com/nexus/sion/feature/member/command/domain/aggregate/entity/DeveloperTechStackHistory.java
  src/main/java/com/nexus/sion/feature/member/command/domain/aggregate/entity/Grade.java
  src/main/java/com/nexus/sion/feature/member/command/domain/aggregate/entity/Member.java
  src/main/java/com/nexus/sion/feature/member/command/domain/aggregate/enums/GradeCode.java
  src/main/java/com/nexus/sion/feature/member/command/domain/aggregate/enums/MemberRole.java
  src/main/java/com/nexus/sion/feature/member/command/domain/aggregate/enums/MemberStatus.java
  src/main/java/com/nexus/sion/feature/member/command/domain/aggregate/enums/RelatedTable.java
Labels: 💡 feat, 🌿 BE

#65 [feat] Project 도메인 관련 entity class 및 Repository 생성
  src/main/java/com/nexus/sion/feature/project/command/domain/aggregate/Entity_.java
  src/main/java/com/nexus/sion/feature/project/command/domain/aggregate/Project.java
  src/main/java/com/nexus/sion/feature/project/command/domain/aggregate/ProjectAndJob.java
  src/main/java/com/nexus/sion/feature/project/command/domain/aggregate/ProjectFpSummary.java
  src/main/java/com/nexus/sion/feature/project/command/domain/aggregate/ProjectFunctionEstimate.java
  src/main/java/com/nexus/sion/feature/project/command/domain/repository/EntityRepository
  src/main/java/com/nexus/sion/feature/project/command/domain/repository/ProjectAndJobRepository.java
  src/main/java/com/nexus/sion/feature/project/command/domain/repository/ProjectFpSummaryRepository.java
  src/main/java/com/nexus/sion/feature/project/command/domain/repository/ProjectFunctionEstimateRepository.java
  src/main/java/com/nexus/sion/feature/project/command/domain/repository/ProjectRepository.java
Labels: 💡 feat, 🌿 BE

#67 [feat] 개발자 조회 기능 구현
  build.gradle
  src/main/java/com/nexus/sion/config/JacksonConfig.java
  src/main/java/com/nexus/sion/exception/ErrorCode.java
  src/main/java/com/nexus/sion/feature/member/query/controller/EntityQueryController
  src/main/java/com/nexus/sion/feature/member/query/controller/MemberQueryController.java
  src/main/java/com/nexus/sion/feature/member/query/dto/EntityDTO
  src/main/java/com/nexus/sion/feature/member/query/dto/request/MemberListRequest.java
  src/main/java/com/nexus/sion/feature/member/query/dto/response/MemberListResponse.java
  src/main/java/com/nexus/sion/feature/member/query/mapper/EntityMapper.txt
  src/main/java/com/nexus/sion/feature/member/query/repository/MemberQueryRepository.java
  src/main/java/com/nexus/sion/feature/member/query/service/EntityQueryService.txt
  src/main/java/com/nexus/sion/feature/member/query/service/MemberQueryService.java
  src/main/java/com/nexus/sion/feature/member/query/service/MemberQueryServiceImpl.java
  src/test/java/com/nexus/sion/feature/member/query/MemberQueryIntegrationTest.java
  src/test/java/com/nexus/sion/feature/member/query/service/MemberQueryServiceImplTest.java
Labels: 💡 feat, v1, 🌿 BE

#66 [feat] S3파일 업로드 삭제 기능 구현
  build.gradle
  src/main/java/com/nexus/sion/common/s3/config/S3Config.java
  src/main/java/com/nexus/sion/common/s3/controller/DocumentS3Controller.java
  src/main/java/com/nexus/sion/common/s3/controller/ImageS3Controller.java
  src/main/java/com/nexus/sion/common/s3/service/DocumentS3Service.java
  src/main/java/com/nexus/sion/common/s3/service/ImageS3Service.java
  src/main/resources/application.yml
Labels: 💡 feat, 🌿 BE

#61 Feat/54 project domain entity
  src/main/java/com/nexus/sion/feature/project/command/domain/aggregate/entity/ClientCompany.java
  src/main/java/com/nexus/sion/feature/project/command/domain/aggregate/entity/Domain.java
  src/main/java/com/nexus/sion/feature/project/command/domain/aggregate/entity/Job.java
  src/main/java/com/nexus/sion/feature/project/command/domain/aggregate/entity/JobAndTechStack.java
Labels: 💡 feat, 🌿 BE

#68 [feat] 개발자 검색 조회 기능 구현
  src/main/java/com/nexus/sion/feature/member/query/controller/MemberQueryController.java
  src/main/java/com/nexus/sion/feature/member/query/repository/MemberQueryRepository.java
  src/main/java/com/nexus/sion/feature/member/query/service/MemberQueryService.java
  src/main/java/com/nexus/sion/feature/member/query/service/MemberQueryServiceImpl.java
  src/main/java/com/nexus/sion/feature/project/command/domain/aggregate/Project.java
  src/main/java/com/nexus/sion/feature/project/command/domain/aggregate/ProjectAndJob.java
  src/main/java/com/nexus/sion/feature/project/command/domain/aggregate/ProjectFpSummary.java
  src/main/java/com/nexus/sion/feature/project/command/domain/aggregate/ProjectFunctionEstimate.java
  src/main/java/com/nexus/sion/feature/project/command/domain/repository/ProjectAndJobRepository.java
  src/main/java/com/nexus/sion/feature/project/command/domain/repository/ProjectFpSummaryRepository.java
  src/main/java/com/nexus/sion/feature/project/command/domain/repository/ProjectFunctionEstimateRepository.java
  src/main/java/com/nexus/sion/feature/project/command/domain/repository/ProjectRepository.java
  src/test/java/com/nexus/sion/feature/member/query/MemberQueryIntegrationTest.java
  src/test/java/com/nexus/sion/feature/member/query/service/MemberQueryServiceImplTest.java
Labels: 💡 feat, v1, 🌿 BE

#85 [feat] 개발자별 기술스택 조회 api 구현
  src/main/java/com/nexus/sion/feature/member/query/controller/MemberTechStackQueryController.java
  src/main/java/com/nexus/sion/feature/member/query/dto/response/MemberTechStackResponse.java
  src/main/java/com/nexus/sion/feature/member/query/repository/MemberTechStackQueryRepository.java
  src/main/java/com/nexus/sion/feature/member/query/service/MemberTechStackQueryService.java
  src/main/java/com/nexus/sion/feature/member/query/service/MemberTechStackQueryServiceImpl.java
  src/test/java/com/nexus/sion/feature/member/query/MemberTechStackQueryIntegrationTest.java
  src/test/java/com/nexus/sion/feature/member/query/service/MemberTechStackQueryServiceImplTest.java
Labels: 💡 feat, v1, 🌿 BE

#107 Feat/41 project service
  src/main/java/com/nexus/sion/common/s3/controller/DocumentS3Controller.java
  src/main/java/com/nexus/sion/common/s3/controller/ImageS3Controller.java
  src/main/java/com/nexus/sion/common/s3/dto/S3UploadResponse.java
  src/main/java/com/nexus/sion/common/s3/service/DocumentS3Service.java
  src/main/java/com/nexus/sion/common/s3/service/ImageS3Service.java
  src/main/java/com/nexus/sion/exception/ErrorCode.java
  src/main/java/com/nexus/sion/feature/project/command/application/controller/CommandController.java
  src/main/java/com/nexus/sion/feature/project/command/application/controller/ProjectCommandController.java
  src/main/java/com/nexus/sion/feature/project/command/application/dto/request/CreateRequest.java
  src/main/java/com/nexus/sion/feature/project/command/application/dto/request/ProjectRegisterRequest.java
  src/main/java/com/nexus/sion/feature/project/command/application/dto/response/CommandResponse.java
  src/main/java/com/nexus/sion/feature/project/command/application/dto/response/ProjectRegisterResponse.java
  src/main/java/com/nexus/sion/feature/project/command/application/service/CommandService.java
  src/main/java/com/nexus/sion/feature/project/command/application/service/ProjectCommandService.java
  src/main/java/com/nexus/sion/feature/project/command/application/service/ProjectCommandServiceImpl.java
  src/main/java/com/nexus/sion/feature/project/command/domain/aggregate/JobAndTechStack.java
  src/main/java/com/nexus/sion/feature/project/command/domain/repository/JobAndTechStackRepository.java
  src/main/java/com/nexus/sion/feature/project/command/domain/repository/ProjectCommandRepository.java
  src/main/resources/application.yaml
  src/test/java/com/nexus/sion/feature/project/command/application/ProjectCommandServiceIntegrationTest.java
  src/test/java/com/nexus/sion/feature/project/command/application/service/ProjectCommandServiceImplTest.java
Labels: 💡 feat, ⌛ test, v1, 🌿 BE

#102 feat: 기술 스택별 평균 경력 조회 기능 구현
  src/main/java/com/nexus/sion/feature/statistics/query/controller/StatisticsQueryController.java
  src/main/java/com/nexus/sion/feature/statistics/query/dto/TechStackCareerDto.java
  src/main/java/com/nexus/sion/feature/statistics/query/repository/StatisticsQueryRepository.java
  src/main/java/com/nexus/sion/feature/statistics/query/service/StatisticsQueryService.java
  src/main/java/com/nexus/sion/feature/statistics/query/service/StatisticsQueryServiceImpl.java
  src/test/java/com/nexus/sion/feature/statistics/StatisticsQueryIntergrationTest.java
  src/test/java/com/nexus/sion/feature/statistics/query/controller/StatisticsQueryControllerTest.java
  src/test/java/com/nexus/sion/feature/statistics/query/service/StatisticsQueryServiceImplTest.java
  target/generated-sources/jooq/com/example/jooq/generated/Keys.java
  target/generated-sources/jooq/com/example/jooq/generated/tables/DeveloperTechStack.java
  target/generated-sources/jooq/com/example/jooq/generated/tables/JobAndTechStack.java
  target/generated-sources/jooq/com/example/jooq/generated/tables/ProjectAndJob.java
  target/generated-sources/jooq/com/example/jooq/generated/tables/ProjectEvaluation.java
  target/generated-sources/jooq/com/example/jooq/generated/tables/UserTrainingHistory.java
Labels: 💡 feat, ⌛ test, v1, 🌿 BE

#123 Feat/103 register tech stack
  src/main/java/com/nexus/sion/feature/techstack/command/application/controller/CommandController.java
  src/main/java/com/nexus/sion/feature/techstack/command/application/controller/TechStackCommandController.java
  src/main/java/com/nexus/sion/feature/techstack/command/application/dto/request/TechStackCreateRequest.java
  src/main/java/com/nexus/sion/feature/techstack/command/application/dto/response/CommandResponse.java
  src/main/java/com/nexus/sion/feature/techstack/command/application/dto/response/TechStackDTO.java
  src/main/java/com/nexus/sion/feature/techstack/command/application/service/CommandService.java
  src/main/java/com/nexus/sion/feature/techstack/command/application/service/TechStackCommandService.java
  src/main/java/com/nexus/sion/feature/techstack/command/application/service/TechStackCommandServiceImpl.java
  src/main/java/com/nexus/sion/feature/techstack/command/domain/aggregate/Entity_.java
  src/main/java/com/nexus/sion/feature/techstack/command/domain/aggregate/TechStack.java
  src/main/java/com/nexus/sion/feature/techstack/command/domain/repository/EntityRepository
  src/main/java/com/nexus/sion/feature/techstack/command/repository/TechStackRepository.java
  src/test/java/com/nexus/sion/feature/techstack/command/application/TechStackCommandControllerIntegrationTest.java
  src/test/java/com/nexus/sion/feature/techstack/command/application/service/TechStackCommandServiceImplTest.java
Labels: 💡 feat, v1, 🌿 BE

#131 [FEAT] 스쿼드 상세조회 코멘트 등록 기능 구현
  src/main/java/com/nexus/sion/exception/ErrorCode.java
  src/main/java/com/nexus/sion/feature/squad/command/application/controller/SquadCommentCommandController.java
  src/main/java/com/nexus/sion/feature/squad/command/application/dto/request/SquadCommentRegisterRequest.java
  src/main/java/com/nexus/sion/feature/squad/command/application/service/SquadCommentCommandService.java
  src/main/java/com/nexus/sion/feature/squad/command/repository/SquadCommentRepository.java
  src/test/java/com/nexus/sion/feature/squad/command/SquadCommentIntegrationTest.java
  src/test/java/com/nexus/sion/feature/squad/command/application/service/SquadCommentCommandServiceTest.java
Labels: 💡 feat, v1, 🌿 BE

#136 [feat] 스쿼드 상세조회 코멘트 삭제 기능 구현
  src/main/java/com/nexus/sion/exception/ErrorCode.java
  src/main/java/com/nexus/sion/feature/squad/command/application/controller/SquadCommentCommandController.java
  src/main/java/com/nexus/sion/feature/squad/command/application/service/SquadCommentCommandService.java
  src/test/java/com/nexus/sion/feature/squad/command/SquadCommentIntegrationTest.java
  src/test/java/com/nexus/sion/feature/squad/command/application/service/SquadCommentCommandServiceTest.java
Labels: 💡 feat, v1, 🌿 BE

#134 feat: 기간별 인기 기술 스택 조회 기능 구현
  src/main/java/com/nexus/sion/exception/ErrorCode.java
  src/main/java/com/nexus/sion/feature/statistics/query/controller/StatisticsQueryController.java
  src/main/java/com/nexus/sion/feature/statistics/query/dto/PopularTechStackDto.java
  src/main/java/com/nexus/sion/feature/statistics/query/repository/StatisticsQueryRepository.java
  src/main/java/com/nexus/sion/feature/statistics/query/service/StatisticsQueryService.java
  src/main/java/com/nexus/sion/feature/statistics/query/service/StatisticsQueryServiceImpl.java
  src/test/java/com/nexus/sion/feature/squad/command/application/service/SquadCommentCommandServiceTest.java
  src/test/java/com/nexus/sion/feature/statistics/StatisticsQueryIntergrationTest.java
  src/test/java/com/nexus/sion/feature/statistics/query/service/StatisticsQueryServiceImplTest.java
  src/test/java/com/nexus/sion/feature/techstack/command/application/TechStackCommandControllerIntegrationTest.java
  target/generated-sources/jooq/com/example/jooq/generated/tables/Project.java
Labels: 💡 feat, ⌛ test, v1, 🌿 BE

#145 [refactor] 컨트롤러 응답을 ResponseEntity로 감싸도록 변경
  src/main/java/com/nexus/sion/feature/statistics/query/controller/StatisticsQueryController.java
  src/main/java/com/nexus/sion/feature/statistics/query/repository/StatisticsQueryRepository.java
  src/main/java/com/nexus/sion/feature/techstack/query/cotroller/TechStackQueryController.java
  src/main/java/com/nexus/sion/feature/techstack/query/repository/TechStackQueryRepository.java
  src/main/java/com/nexus/sion/feature/techstack/query/service/TechStackQueryService.java
  src/main/java/com/nexus/sion/feature/techstack/query/service/TechStackQueryServiceImpl.java
  src/test/java/com/nexus/sion/feature/statistics/query/controller/StatisticsQueryControllerTest.java
  src/test/java/com/nexus/sion/feature/techstack/command/application/TechStackCommandControllerIntegrationTest.java
  src/test/java/com/nexus/sion/feature/techstack/query/service/TechStackQueryServiceImplTest.java
Labels: 🛁 refactor, v1, 🌿 BE

#148 [feat] 직급, 부서 목록 조회 기능 구현
  src/main/java/com/nexus/sion/feature/member/command/domain/aggregate/entity/Position.java
  src/main/java/com/nexus/sion/feature/member/query/controller/DepartmentQueryController.java
  src/main/java/com/nexus/sion/feature/member/query/controller/PositionQueryController.java
  src/main/java/com/nexus/sion/feature/member/query/dto/response/DepartmentResponse.java
  src/main/java/com/nexus/sion/feature/member/query/dto/response/PositionResponse.java
  src/main/java/com/nexus/sion/feature/member/query/repository/DepartmentQueryRepository.java
  src/main/java/com/nexus/sion/feature/member/query/repository/PositionQueryRepository.java
  src/main/java/com/nexus/sion/feature/member/query/service/DepartmentQueryService.java
  src/main/java/com/nexus/sion/feature/member/query/service/PositionQueryService.java
  src/test/java/com/nexus/sion/feature/member/query/DepartmentQueryIntegrationTest.java
  src/test/java/com/nexus/sion/feature/member/query/PositionQueryIntegrationTest.java
  src/test/java/com/nexus/sion/feature/member/query/service/DepartmentQueryServiceTest.java
  src/test/java/com/nexus/sion/feature/member/query/service/PositionQueryServiceTest.java
Labels: 💡 feat, v1, 🌿 BE

#150 [feat] 개발자 목록 조회 응답 구조 수정
  src/main/java/com/nexus/sion/feature/member/query/dto/response/MemberListResponse.java
  src/main/java/com/nexus/sion/feature/member/query/repository/MemberQueryRepository.java
  src/test/java/com/nexus/sion/feature/member/query/service/MemberQueryServiceImplTest.java
Labels: 💡 feat, v1, 🌿 BE

#159 [refactor] Member entity joinedAt 타입 변경
  src/main/java/com/nexus/sion/feature/member/command/application/dto/request/MemberAddRequest.java
  src/main/java/com/nexus/sion/feature/member/command/application/dto/request/MemberUpdateRequest.java
  src/main/java/com/nexus/sion/feature/member/command/domain/aggregate/entity/Member.java
  src/main/java/com/nexus/sion/feature/member/query/dto/response/MemberDetailResponse.java
  src/test/java/com/nexus/sion/feature/member/command/MemberCommandIntegrationTest.java
  src/test/java/com/nexus/sion/feature/member/command/application/service/UserCommandServiceTest.java
  src/test/java/com/nexus/sion/feature/member/query/service/MemberQueryServiceImplTest.java
Labels: 🛁 refactor, v1, 🌿 BE

#162 [feat] 수동 스쿼드 등록 기능 구현
  src/main/java/com/nexus/sion/exception/ErrorCode.java
  src/main/java/com/nexus/sion/feature/project/command/domain/repository/ProjectRepository.java
  src/main/java/com/nexus/sion/feature/squad/command/application/controller/SquadCommandController.java
  src/main/java/com/nexus/sion/feature/squad/command/application/dto/request/SquadRegisterRequest.java
  src/main/java/com/nexus/sion/feature/squad/command/application/service/SquadCommandService.java
  src/main/java/com/nexus/sion/feature/squad/command/application/service/SquadCommandServiceImpl.java
  src/main/java/com/nexus/sion/feature/squad/command/repository/SquadCommandRepository.java
  src/main/java/com/nexus/sion/feature/squad/command/repository/SquadEmployeeCommandRepository.java
  src/main/java/com/nexus/sion/feature/squad/query/dto/response/SquadDetailResponse.java
  src/main/java/com/nexus/sion/feature/squad/query/repository/SquadQueryRepository.java
  src/test/java/com/nexus/sion/feature/squad/command/SquadCommandIntegrationTest.java
  src/test/java/com/nexus/sion/feature/squad/command/application/service/SquadCommandServiceImplTest.java
  src/test/java/com/nexus/sion/feature/squad/query/SquadQueryIntegrationTest.java
  src/test/java/com/nexus/sion/feature/squad/query/service/SquadQueryServiceImplTest.java
Labels: 💡 feat, v1, 🌿 BE

#164 [fix] base entity 설정으로 createdat, updatedat 코드 삭제
  src/main/java/com/nexus/sion/feature/squad/command/application/service/SquadCommandServiceImpl.java
  src/test/java/com/nexus/sion/feature/squad/command/application/service/SquadCommandServiceImplTest.java
Labels: 🐜 bug, v1, 🌿 BE

#167 [feat] 스쿼드 수정 기능 구현
  src/main/java/com/nexus/sion/exception/ErrorCode.java
  src/main/java/com/nexus/sion/feature/squad/command/application/controller/SquadCommandController.java
  src/main/java/com/nexus/sion/feature/squad/command/application/dto/request/SquadUpdateRequest.java
  src/main/java/com/nexus/sion/feature/squad/command/application/service/SquadCommandService.java
  src/main/java/com/nexus/sion/feature/squad/command/application/service/SquadCommandServiceImpl.java
  src/main/java/com/nexus/sion/feature/squad/command/domain/aggregate/entity/Squad.java
  src/main/java/com/nexus/sion/feature/squad/command/repository/SquadCommandRepository.java
  src/main/java/com/nexus/sion/feature/squad/command/repository/SquadEmployeeCommandRepository.java
  src/test/java/com/nexus/sion/feature/squad/command/SquadCommandIntegrationTest.java
  src/test/java/com/nexus/sion/feature/squad/command/application/service/SquadCommandServiceImplTest.java
  src/test/java/com/nexus/sion/feature/squad/query/SquadQueryIntegrationTest.java
Labels: 💡 feat, v1, 🌿 BE

#172 [feat]프로젝트 상세 조회 기능 구현
  src/main/java/com/nexus/sion/feature/project/query/controller/ProjectQueryController.java
  src/main/java/com/nexus/sion/feature/project/query/dto/request/ProjectListRequest.java
  src/main/java/com/nexus/sion/feature/project/query/dto/response/ProjectDetailResponse.java
  src/main/java/com/nexus/sion/feature/project/query/repository/ProjectQueryRepository.java
  src/main/java/com/nexus/sion/feature/project/query/service/ProjectQueryService.java
  src/main/java/com/nexus/sion/feature/project/query/service/ProjectQueryServiceImpl.java
  src/test/java/com/nexus/sion/feature/project/query/ProjectQueryIntegrationTest.java
  src/test/java/com/nexus/sion/feature/project/query/service/ProjectQueryServiceImplTest.java
Labels: 💡 feat, ⌛ test, v1, 🌿 BE

#185 [feat] 등급별 연봉 분포 조회 기능 구현
  src/main/java/com/nexus/sion/feature/statistics/query/controller/StatisticsQueryController.java
  src/main/java/com/nexus/sion/feature/statistics/query/dto/GradeSalaryStatsDto.java
  src/main/java/com/nexus/sion/feature/statistics/query/repository/StatisticsQueryRepository.java
  src/main/java/com/nexus/sion/feature/statistics/query/service/StatisticsQueryService.java
  src/main/java/com/nexus/sion/feature/statistics/query/service/StatisticsQueryServiceImpl.java
  target/generated-sources/jooq/com/example/jooq/generated/tables/Grade.java
  target/generated-sources/jooq/com/example/jooq/generated/tables/InitialScore.java
  target/generated-sources/jooq/com/example/jooq/generated/tables/daos/GradeDao.java
  target/generated-sources/jooq/com/example/jooq/generated/tables/daos/InitialScoreDao.java
  target/generated-sources/jooq/com/example/jooq/generated/tables/pojos/Grade.java
  target/generated-sources/jooq/com/example/jooq/generated/tables/pojos/InitialScore.java
  target/generated-sources/jooq/com/example/jooq/generated/tables/records/GradeRecord.java
  target/generated-sources/jooq/com/example/jooq/generated/tables/records/InitialScoreRecord.java
Labels: 💡 feat, v1, 🌿 BE

#186 [feat] 기술 스택 도입률 변화 추이 조회 기능 구현
  src/main/java/com/nexus/sion/feature/statistics/query/controller/StatisticsQueryController.java
  src/main/java/com/nexus/sion/feature/statistics/query/dto/TechAdoptionTrendDto.java
  src/main/java/com/nexus/sion/feature/statistics/query/repository/StatisticsQueryRepository.java
  src/main/java/com/nexus/sion/feature/statistics/query/service/StatisticsQueryService.java
  src/main/java/com/nexus/sion/feature/statistics/query/service/StatisticsQueryServiceImpl.java
Labels: 💡 feat, v1, 🌿 BE
